
.case {
    margin: 0;
    padding: 0;
}

.case__item-complited {
    padding-top:5px;
	padding-bottom:5px;
    color: #4d4d4d;
	font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 24px;
	align-items: center;
	display:flex;
	justify-content: center;
	width: 550px;
	border-bottom: 1px solid #ededed;
	text-decoration: line-through;
	overflow: auto;
	-webkit-transition: all ease-out .2s;
    -moz-transition: all ease-out .2s;
    -o-transition: all ease-out .2s;
    transition: all ease-out .2s;
}

.case__item-active {
    padding-top:5px;
	padding-bottom:5px;
	color: #7a8183;
	font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 24px;
	align-items: center;
	display:flex;
	justify-content: center;
	width: 550px;
	border-bottom: 1px solid #ededed;
	overflow: auto;
	
}

.case__item_img-complited {
	background: url("/img/ready.png");
	background-size: cover;
    position: relative;
	align-items: center;
	display: block;
	justify-content: center;
	border: 2px solid #32950C;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	float: left;
	outline: none;
}

.case__item_img-active {
	background: #ffffff;
    position: relative;
	align-items: center;
	display: block;
	justify-content: center;
	border: 2px solid #32950C;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	float: left;
	outline: none;
}

.case__item_list {
    padding-left: 15px;
	display:inline-block ;
	padding-top: 9px;
	padding-bottom: 10px;
	width: 81%;
	background: white;
	word-wrap: break-word;
}

.case__item_remove {
    display: block;
	width: 35px;
	height: 35px;
	float: right;	
}

.case__item-active:hover .case__item_remove {
    background: url("/img/del.png");
    background-size: cover;
	width: 35px;
	height: 35px;
	float: right;
	opacity: .8;
}

.case__item-complited:hover .case__item_remove {
    background: url("/img/del.png");
    background-size: cover;
	width: 35px;
	height: 35px;
	float: right;
	opacity: .8;
}

.case__item_remove:hover:after {
    content: '';
	background: url("/img/del-hover.png");
    background-size: cover;
	width: 35px;
	height: 35px;
	float: right;
}